.main-bg {
  background-image: url('../assets/BG-0-A.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  filter: brightness(95%);
}

/* layar < 1024px */
@media (max-width: 1024px) {
  .main-bg {
    background-image: url('../assets/bg-1.jpg');
  }
}

/* layar < 768px */
@media (max-width: 768px) {
  .main-bg {
    background-image: url('../assets/bg-2.jpg');
  }
}

/* layar < 468px */
@media (max-width: 468px) {
  .main-bg {
    background-image: url('../assets/bg-3-C.jpg');
      background-size: cover;
  }
}

.card-border-radius {
  border-radius: 20px;
}

.card-shadow {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .25);
}
